<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YYHCacheDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1964BE041C50C5A200F58B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1964BE1D1C50C5A200F58B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1964BE281C50C5A200F58B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
